<div class="p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <mat-card>
          <h4>User list</h4>
          <app-user-list></app-user-list>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card>
          <h4>User info</h4>
          <app-user-card></app-user-card>
        </mat-card>
      </div>
      <article class="col-12 mt-5">
        <mat-card>
          <h4>Articles</h4>
          <app-article-list></app-article-list>
        </mat-card>
      </article>
    </div>
  </div>
</div>
